nav {
  display: flex;
  gap: 2rem;
}
.detailOrg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
}
.thumb {
  max-width: 250px;
  flex-wrap: wrap;
}
img.home {
  margin-left: 20px; /* Center the image horizontally */
  display: flex; /* Ensure image takes full width */
}
.home-container {
  /* Added styles for the container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grow {
  font-size: 2rem;
}
