body {
  background-color: #b3d6c6;
  display: flex; /* Make the body a flex container to center content */
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Ensure content is centered even if viewport is taller */
}
nav {
  display: flex;

  gap: 2rem;
}
/* .detailOrg {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
.sidebyside {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  gap: 10px;
}
.thumb {
  max-width: 250px;
  flex-wrap: wrap;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align content to the center within the container */
  max-width: 50vw;
  padding: 20px; /* Add some padding around the content */
}

.grow {
  font-size: 1.5rem;
}

img.home {
  margin: 0 auto; /* Center the image horizontally */
  max-width: 80%; /* Adjust image size as needed */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
form button {
  margin-top: 1rem;
  background-color: aquamarine;
  border-radius: 45%;
  border: none;
  padding: 1rem;
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add some space between each section */
  align-items: center; /* Align content to the center horizontally */
}
.ingredients-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px; /* Align content to the center horizontally */ /* Add some space between each ingredient */
}
.top {
  display: flex;
  align-items: center;
}
